body {
    background-color: black;
    height:100vh;
    width:100vw;
    font-size: 16px;
}
footer, header{
    text-align: center;
    margin:0 auto;
    width: 90%;
}

main a, footer a {
    color: #e9e9e9;
}
main a:hover, footer a:hover {
    color: #5c5c5c;
}
.footerText {
    
}

.footerLinks {
    padding:0;
}
.footerLink {
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
}
.white {
    color: #e6e6e6;
}
.gray {
    color: #a0a0a0;
}
.center {
    text-align: center;
}
header h1 {
    font-family: 'Roboto Slab', serif;
}
/* .header-image {
    padding:10px 15%;
} */
.fullHeight {
    height:100vh;
}